<div class="panel panel-default">
  <div class="panel-heading story-grid--panel-heading">
    <story-grid-toolbar></story-grid-toolbar>
  </div>
  <table class="table table-hover ">
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Stage</th>
      <th>Time left</th>
      <th>Size</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><a href="#">British scientists invented pink plywood crocodile with AI</a></td>
      <td>Vassiliy Pupkin</td>
      <td>Idea</td>
      <td>2 days</td>
      <td>200</td>
      <td><span class="glyphicon glyphicon-remove-sign story-grid--remove-btn"></span></td>
    </tr>
    <tr class="active">
      <td><a href="#">Google released new Android</a></td>
      <td>John Doe</td>
      <td>Ready to review</td>
      <td>3 hours</td>
      <td>6570</td>
      <td><span class="glyphicon glyphicon-remove-sign story-grid--remove-btn"></span></td>
    </tr>
    </tbody>
  </table>
</div>
