<div class="story-content--" ng-if="!$ctrl.error">
  <p class="story-content--author-date">
    {{$ctrl.story.created_by.name || $ctrl.session.currentUser.name}} published {{$ctrl.moment($ctrl.story.published_at
    || Date.now()).fromNow()}}
  </p>
  <a ui-sref="story({_id: $ctrl.story._id})"><h2 class="story-content--title"
                                                 ng-bind="$ctrl.story.title"></h2></a><a
  ui-sref="editStory({_id: $ctrl.story._id})" class="glyphicon glyphicon-edit story-content--edit-link"
  ng-show="$ctrl.session.currentUser"></a>
  <div class="story-content--body" ng-bind-html="$ctrl.story.content"></div>
</div>
