<p>This app was inspired by my previous job at <a href="http://habrahabr.ru">habrahabr.ru</a>, <a href="http://geektimes.ru">geektimes.ru</a> and
  <a href="http://mediaport.info">mediaport.info</a>. It is like CMS, but with support of collaborative editing.</p>

<h3>Plans for the next version</h3>

<ul>
  <li>Login with Google, Facebook, etc;</li>
  <li>Import and export of story contents;</li>
  <li>User profiles</li>
  <li>Comments and story content annotations;</li>
  <li>Integrated chat;</li>
  <li>'Libraries' for permanent storage of things like styleguide, educational reading for authors, editorial contact lists and bookmarks;</li>
  <li>More granular access control with some new roles: 'observer', 'admin', 'trainee';</li>
  <li>Story types (or genres) with enforced structure and size limitations.</li>
  <li>Statistics module</li>
</ul>

<h3>Development</h3>

<p>Source code of this app is available at Bitbucket: <a href="https://bitbucket.org/simenko/newsroom-front">web client</a> and
  <a href="https://bitbucket.org/simenko/newsroom-back">server</a>.</p>
