<h3>Introduction</h3>

<p>'Newsroom' is a platform for small editorial teams, allowing them to collaborate on site content. Unregistered users can see only global news feed on the main page and individual stories, after clicking 'read more' button. To create and edit stories you must register.</p>

<h3>Story workflow</h3>

<p>After registration you can visit editorial dashboard. The dashboard contains all stories currently in work. You may search stories by name, filter them by author or stage and sort them by creation time ot by planned deadline. Each story goes through different stages, from idea to archive. Any author can create and edit any story, unless it is locked by an editor.</p>

<p>Editors are privileged authors. They can protect a story from editing or deletion on any stage of its lifecycle. They also can change story stage as they want, while ordinary authors can set only early stages.</p>

<h3>Stages</h3>

<p>Each story begins as an <em>idea</em>. On this stage story can have no content at all, its description usually contains one or two links &mdash; the seed of the future story. When someone starts editing a story content, story goes to the next stage &mdash; <em>draft</em>. When author is done with editing he sets story stage to <em>ready to review</em>. This informs an editor that the story is ready and he or she should review it and decide what to do next: set stage back to draft if it is not good at all, or do some changes and then <em>publish</em> story immediately or leave it in the <em>ready to publish</em> stage to publish it later. When 72 hours passes after publishing, story goes to the <em>archived</em> stage. Archived stories are still accessible to any site visitor in archive section, but they are not displayed on the main page.</p>

<p>Stages from <em>ready to publish</em> to <em>archived</em> are privileged ones &mdash; only editor can set a story into any of these stages. Deletion of a story at these stages is also prohibited to ordinary authors.</p>

<h3>Collaborative editing and history</h3>

<p>Two authors can't simultaneously edit the same story. When the first author enters story edit mode, the story becomes temporarily locked to all others. They can only observe changes in its contents. If an author, which have locked a story, explicitly ends editing session by clicking 'save' button or is inactive for 60 seconds, story opens for others and anybody can 'capture' it and lock it for himself.</p>

<p>When someone attempts to edit locked story, the one who locked it gets a notification about this attempt. Editors get similar notifications when someone wants to edit a story permanently locked by this editor.</p>

<p>History of all edits of any story is saved. You can navigate previous versions of the story by clicking 'forward' and 'backward' buttons on the editor page.</p>
