<h3>Introduction</h3>

<p>This app is a platform for small editorial teams, allowing them to collaborate on site content. Unregistered users can see only global news feed on the main page and individual stories, after clicking on their titles. To create and edit stories you must register.</p>

<h3>Story workflow</h3>

<p>After registration you can visit editorial dashboard. The dashboard contains all stories currently in work. You may search stories by name, filter them by author or stage and sort them by creation and publishing time. Each story goes through different stages, from idea to archive. Any author can create and edit any story, unless it is locked by an editor.</p>

<p>Editors are privileged authors. They can lock story and thus protect it from editing or deletion on any stage of its lifecycle.</p>

<h3>Stages</h3>

<p>Each story begins as an <em>idea</em>. On this stage story can have no content at all. When someone starts editing a story content, he must set story to the next stage &mdash; <em>draft</em>. When author is done with editing he sets story stage to <em>ready to review</em>. This informs an editor that the story is ready and he or she should review it and decide what to do next: set stage back to draft if it still requires much work, or do some changes and then <em>publish</em> story immediately or leave it in the <em>ready to publish</em> stage to publish it later. Old stories should be set to the <em>archived</em> stage.</p>

<h3>Collaborative editing</h3>

<p>Two authors can't simultaneously edit the same story. When the first author enters story edit mode, the story becomes temporarily locked to all others. They can only observe changes in its contents. If an author, which have locked a story, is inactive for 10 seconds, story opens for others and anybody can 'capture' it and lock it for himself.</p>

<p>When someone attempts to edit a locked story, the one who locked it gets a notification about this attempt.</p>
