<table st-table="$ctrl.displayedCollection" st-safe-src="$ctrl.stories.all" class="table table-hover ">
  <thead>
  <tr>
    <th colspan="1">
      <input st-search="title" class="form-control" placeholder="Search by title" type="text">
    </th>
    <th colspan="1">
      <select st-search="assignee.name" st-input-event="change" class="form-control"
              placeholder="author">
        <option value="" selected>Select assignee</option>
        <option ng-repeat="user in $ctrl.users.all">{{user.name}}</option>
      </select>
    </th>
    <th colspan="1">
      <select st-search="stage" st-input-event="change" class="form-control"
              placeholder="stage">
        <option value="" selected>Select stage</option>
        <option ng-repeat="stage in $ctrl.stories.stages">{{stage}}</option>
      </select>
    </th>
    <th st-sort="created_at" st-sort-default="reverse">Sort by age</th>
    <th st-sort="deadline_at" st-sort-default="reverse">Sort by deadline</th>
    <th>
      <button class="btn btn-success" ng-click="$ctrl.createStory()">New story</button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in $ctrl.displayedCollection">
    <td><a ui-sref="editStory({ _id: row._id })">{{::row.title}}</a></td>
    <td>{{::row.assignee.name}}</td>
    <td>{{::row.stage}}</td>
    <td am-time-ago="row.created_at"></td>
    <td am-time-ago="row.deadline_at"></td>
    <td><span class="glyphicon glyphicon-remove-sign story-grid--remove-btn"
              ng-click="$ctrl.remove(row._id)"></span></td>
  </tr>
  </tbody>
</table>
