<div class="row">
  <div class="col-xs-12 col-lg-6">
    <div ng-click="$ctrl.userInput()"
         ng-keydown="$ctrl.userInput()">
      <form class="form">
        <div class="form-group">
          <label for="title" class="control-label">Title</label>
          <input type="text" class="form-control" id="title" required
                 ng-model="$ctrl.storyBuffer.title"
                 ng-disabled="$ctrl.temporaryLock || $ctrl.permanentLock">
        </div>
        <div class="form-group">
          <text-angular ng-model="$ctrl.storyBuffer.content"
                        ta-disabled="$ctrl.temporaryLock || $ctrl.permanentLock"
                        ta-toolbar="[['h3','h4','h5','h6','pre','quote'],['bold','italics','ul', 'ol','redo','undo','clear'],['html','insertImage','insertLink','insertVideo','charcount']]"></text-angular>
        </div>
        <div class="form-group">
          <label for="stage" class="control-label">Stage</label>
          <select class="form-control" id="stage"
                  ng-model="$ctrl.storyBuffer.stage"
                  ng-change="$ctrl.alertOnPublish()"
                  ng-disabled="$ctrl.temporaryLock  || $ctrl.permanentLock">
            <option ng-repeat="stage in $ctrl.stories.stages">{{stage}}</option>
          </select>
        </div>
        <div class="checkbox" ng-show="$ctrl.session.currentUser.role === 'editor'">
          <label>
            <input type="checkbox"
                   ng-model="$ctrl.permanentLock"
                   ng-change="$ctrl.toggleLockStatus()">locked
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="col-xs-12 col-lg-6">
    <div class="story-editor--preview">
      <p class="story-editor--preview-header">
        Preview:
      </p>
      <story-content story="$ctrl.storyBuffer"></story-content>
    </div>
  </div>
</div>

