<div class="panel panel-danger text-center"
     ng-show="$ctrl.error">
  <div class="panel-body" ng-bind="$ctrl.error">
  </div>
</div>
<form class="form" ng-if="$ctrl.editMode">
  <div class="form-group col-xs-12">
    <text-angular ng-model="$ctrl.storyBuffer.content"
                  ta-toolbar="[['h1','h2','h3','h4','pre','quote'],['bold','italics','ul', 'ol','redo','undo','clear'],['html','insertImage','insertLink','insertVideo','charcount']]"></text-angular>
  </div>

  <div class="form-group col-xs-12">
    <label for="title" class="control-label">Working title</label>
    <input type="text" class="form-control" id="title" required
           ng-model="$ctrl.storyBuffer.title">
  </div>
  <div class="form-group col-xs-12">
    <label for="description" class="control-label">Description</label>
    <textarea class="form-control" rows="5" id="description"
              ng-model="$ctrl.storyBuffer.description"></textarea>
  </div>
  <div class="form-group col-xs-6">
    <label for="assignee" class="control-label">Assignee</label>
    <select class="form-control" id="assignee"
            ng-model="$ctrl.storyBuffer.assignee">
      <option ng-repeat="user in $ctrl.users.all" value="{{user._id}}">{{user.name}}</option>
    </select>
  </div>
  <div class="form-group col-xs-6">
    <label for="stage" class="control-label">Stage</label>
    <select class="form-control" id="stage"
            ng-model="$ctrl.storyBuffer.stage">
      <option ng-repeat="stage in $ctrl.stories.stages">{{stage}}</option>
    </select>
  </div>
  <!--
  TODO: assets
  -->
  <!--
 TODO: deadline
 -->

</form>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <story-content ng-hide="$ctrl.editMode" ng-bind-html="$ctrl.storyBuffer.content"></story-content>
    </div>
  </div>
</div>
<form class="form">
  <div class="form-group col-xs-12">
    <button type="submit" class="btn btn-default"
            ng-show="$ctrl.editMode"
            ng-click="$ctrl.save()">
      Save
    </button>
    <button type="submit" class="btn btn-default"
            ng-hide="$ctrl.editMode"
            ng-click="$ctrl.edit()">
      Edit
    </button>
  </div>
</form>
