<nav class="navbar story-grid--toolbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Stories</span>
    </div>
    <div class="navbar-collapse collapse" uib-collapse="isNavCollapsed">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control col-sm-8" placeholder="Search">
        </div>
        <button class="btn btn-success">New story</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li uib-dropdown is-open="status.isAuthorOpen">
          <a id="author" uib-dropdown-toggle ng-disabled="disabled">
            Author <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="author">
            <li role="menuitem"><a href="#">Vassya</a></li>
            <li role="menuitem"><a href="#">Petia</a></li>
            <li role="menuitem"><a href="#">Lena</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="#">Nobody</a></li>
          </ul>
        </li>

        <li uib-dropdown is-open="status.isStageOpen">
          <a id="stage" uib-dropdown-toggle ng-disabled="disabled">
            Stage <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="stage">
            <li role="menuitem"><a href="#">Idea</a></li>
            <li role="menuitem"><a href="#">Draft</a></li>
            <li role="menuitem"><a href="#">Ready to review</a></li>
            <li role="menuitem"><a href="#">Redy to publish</a></li>
            <li role="menuitem"><a href="#">Published</a></li>
            <li role="menuitem"><a href="#">Archived</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
