<div class="login-form--"
     ng-if="!$ctrl.session.currentUser.loggedIn">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">Login</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3"
       ng-if="!$ctrl.session.currentUser.loggedIn">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Login</h3>
      </div>
      <div class="panel-body">

        <form class="form-horizontal" name="loginForm" ng-submit="$ctrl.login(loginForm.$valid)" novalidate>
          <div class="form-group"
               ng-class="{ 'has-error': loginForm.email.$invalid && loginForm.email.$touched }">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-9">
              <input type="email" name="email" class="form-control form--input" id="inputEmail" placeholder="Email" required
                     ng-model="$ctrl.credentials.email">
            </div>
            <p ng-show="loginForm.email.$invalid && loginForm.email.$touched"
               class="col-xs-10 col-xs-offset-2 help-block">Email is invalid.</p>
          </div>
          <div class="form-group"
               ng-class="{ 'has-error': loginForm.password.$invalid && loginForm.password.$touched }">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-9">
              <input type="password" name="password" class="form-control form--input" id="inputPassword" placeholder="Password" required
                     ng-model="$ctrl.credentials.password"
                     ng-minlength="8">
            </div>
            <p ng-show="loginForm.password.$invalid && loginForm.password.$touched"
               class="col-xs-10 col-xs-offset-2 help-block">Passport must 8 symbols or longer.</p>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default"
                      ng-disabled="loginForm.$invalid">
                Login</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
