<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body ng-app="app">

<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">All stories <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign In </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">


      <nav class="navbar navbar-warning">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Stories</span>
          </div>
          <div class="navbar-collapse collapse" uib-collapse="isNavCollapsed">
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control col-sm-8" placeholder="Search">
              </div>
              <button class="btn btn-success">New story</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li uib-dropdown is-open="status.isAuthorOpen">
                <a id="author" uib-dropdown-toggle ng-disabled="disabled">
                  Author <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="author">
                  <li role="menuitem"><a href="#">Vassya</a></li>
                  <li role="menuitem"><a href="#">Petia</a></li>
                  <li role="menuitem"><a href="#">Lena</a></li>
                  <li class="divider"></li>
                  <li role="menuitem"><a href="#">Nobody</a></li>
                </ul>
              </li>

              <li uib-dropdown is-open="status.isStageOpen">
                <a id="stage" uib-dropdown-toggle ng-disabled="disabled">
                  Stage <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="stage">
                  <li role="menuitem"><a href="#">Idea</a></li>
                  <li role="menuitem"><a href="#">Draft</a></li>
                  <li role="menuitem"><a href="#">Ready to review</a></li>
                  <li role="menuitem"><a href="#">Redy to publish</a></li>
                  <li role="menuitem"><a href="#">Published</a></li>
                  <li role="menuitem"><a href="#">Archived</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <table class="table table-hover ">
        <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Stage</th>
          <th>Time left</th>
          <th>Time left</th>
          <th>Size</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="#">British scientists invented pink plywood crocodile with AI</a></td>
          <td>Vassiliy Pupkin</td>
          <td>Idea</td>
          <td>2 days</td>
          <td>200</td>
          <td><span class="glyphicon glyphicon-remove-sign story-table--remove-btn"></span></td>
        </tr>
        <tr class="active">
          <td><a href="#">Google released new Android</a></td>
          <td>John Doe</td>
          <td>Ready to review</td>
          <td>3 hours</td>
          <td>6570</td>
          <td><span class="glyphicon glyphicon-remove-sign story-table--remove-btn"></span></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
</div>
<text-angular ng-model="htmlVariable"></text-angular>
xdfgbcgfngfmghj
</body>
</html>
